In [12]:
# Import packages
import pandas as pd
import scipy.stats as stats

In [13]:
# Write you code here to perform the t-test

In [14]:
df = pd.read_csv('Customer Support Time Study.csv')
df

   Nathaly   Joey
0    15.06  19.53
1    15.43  17.41
2    15.91  14.30
3    15.10  15.83
4    16.16  17.01
5    15.24  15.34
6    13.70  17.05
7    15.90  16.21
8    15.30  17.25
9    16.27  16.98

In [15]:
Na = df['Nathaly']
Joey = df["Joey"]

In [16]:
stats.ttest_ind(Joey, Na, equal_var = True)

Ttest_indResult(statistic=2.5569719803766966, pvalue=0.01980878560803262)